.background-admin{
    -fx-background-color: rgb(240, 240, 240);
}
.sidebar-admin{
    -fx-background-color: rgb(125,146,159);
    -fx-background-radius: 0px 70px 0px 0px;
}

.sidebar-user{
    -fx-background-color: rgba(255,255,255,0.2);
    -fx-background-radius: 10;
}
.labbtnt-sidebar-title{
    -fx-text-fill: rgb(125,146,159);
    -fx-background-color: #FEFFFD;
    -fx-background-radius: 100px;
}
.labbtnt-logout{
    -fx-text-fill: #2262C6;
    -fx-background-color: #FEFFFD;
    -fx-background-radius: 100px;
}
.labbtnt-logout:hover{
    -fx-background-color: #FEFFFD;
    -fx-background-radius: 10px;
    -fx-text-fill: #6747CD;
    -fx-border-color: transparent;
    -fx-border-width: 3px;
    -fx-border-style: solid;
    -fx-border-radius: 10px;
}
.gradient-background-user{
    -fx-background-color: rgb(87,100,112);
}
.gradient-background-sign-up-page{
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%,#eae0eb,#6747CD);
}
.line-color{
    -fx-background-color: #FFFFFF;
}
.line-color-user{
    -fx-background-color: #fabec6;
}
.line-color-admin{
    -fx-background-color: rgb(125,146,159);
}
.gradient-background-admin{
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%,#1f9ed9,#8eff4c);
}
.labbtn-Title{
    -fx-text-fill: #ffffff;
    -fx-background-color: rgba(255,255,255,0.5);
    -fx-background-radius: 100px;
}
.labbtn-text{
    -fx-text-fill: #000000;
    -fx-background-color: #06e8f8;
    -fx-background-radius: 100px;
}
.labbtn-background{
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-background-radius: 10;
} 
.shadow{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.2),10.0, 0.0, 0.0, 10.0)
}

.shadow:hover{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.2),10.0, 0.0, 0.0, 10.0);
    -fx-background-color: transparent;
    -fx-background-radius: 10px;    /*to make a curly edges*/
    -fx-text-fill: #f515d7;
    -fx-border-color: transparent;  /*border colour*/
    -fx-border-width: 3px;
    -fx-border-style: solid;    /*to have pup up effect*/
    -fx-border-radius: 10px;
}
.gradient-background-signinpageleft{
    -fx-background-color: rgb(60,70,84);
}

.forgetBtn{
    -fx-text-fill: #00000070;
}
.forgetBtn:hover{
    -fx-text-fill: rgb(60,70,84);
    -fx-underline: true;      
}

.loginBtn{
    -fx-background-color: rgb(60,70,84);
    -fx-text-fill: #FFF;
    -fx-background-radius: 10px;
}
.loginBtn:hover{
    -fx-background-color: transparent;
    -fx-background-radius: 10px;
    -fx-text-fill: rgb(60,70,84);
    -fx-border-color: rgb(60,70,84);
    -fx-border-width: 3px;
    -fx-border-style: solid;
    -fx-border-radius: 10px;
}
.sign-up-Btn{
    -fx-text-fill: rgb(60,70,84);
}
.sign-up-Btn:hover{                 /*have effect when mouse is there*/
    -fx-text-fill: #6744d8;
    -fx-underline: true;        /*to have underlined when mouse clicked*/
}

.sidebar-options-admin:hover{
    -fx-background-color: rgb(243,243,243);
    -fx-background-radius: 10px;
    -fx-text-fill: rgb(13,133,245);
    -fx-border-color: transparent;
    -fx-border-width: 3px;
    -fx-border-style: solid;
    -fx-border-radius: 10px;
}
.labbtnt-delete{
    -fx-text-fill: #ebeef1;
    -fx-background-color: rgb(125,146,159);
    -fx-background-radius: 100px;
}
.labbtnt-delete:hover{
    -fx-background-color: rgb(125,146,159);
    -fx-background-radius: 10px;
    -fx-text-fill: #ebeef1;
    -fx-border-color: transparent;
    -fx-border-width: 3px;
    -fx-border-style: solid;
    -fx-border-radius: 10px;
}
.labbtnt-logout-user{
    -fx-text-fill: #d322b5;
    -fx-background-color: #FEFFFD;
    -fx-background-radius: 100px;
}
.labbtnt-logout-user:hover{
    -fx-background-color: #FEFFFD;
    -fx-background-radius: 10px;
    -fx-text-fill: #d322b5;
    -fx-border-color: transparent;
    -fx-border-width: 3px;
    -fx-border-style: solid;
    -fx-border-radius: 10px;
}

.link-to-browser{

}
.link-to-browser:hover{
    -fx-underline: true;      
}
.bar-news{
    -fx-background-color: rgba(255, 253, 253, 0.76);
    -fx-background-radius: 10;
}

.pane-with-shadow {
    -fx-background-color: rgb(243, 243, 243);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 12, 0.5, 0, 1);
}
.pane-admin{
    -fx-border-radius: 50px 50px 50px 50px;
    -fx-border-color: #F1F2F7;

}
.my-table-view-leaderboard {
    -fx-background-color: rgb(87,100,112);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 12, 0.5, 0, 1);
}

.my-table-view-leaderboard .column-header {
    -fx-background-color: #a8a8a8;
    -fx-text-fill: rgb(125,146,159);
}
.my-table-view-user-management {
    -fx-background-color: rgb(243, 243, 243);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 12, 0.5, 0, 1);
}

.my-table-view-user-management .column-header {
    -fx-background-color: rgb(125,146,159);
}

.table-row-cell {
    -fx-background-color: rgb(125,146,159);
}
.my-table-view-user-management .row:hover {
    -fx-background-color: rgb(125,146,159);
}
.combo-box{
    -fx-border-width:0px;
    -fx-border-color:#ACACAC;
    -fx-font-size:12px;
    -fx-padding:2px;

}
.combo-box .arrow-button {
    -fx-background-color: rgb(255, 255, 255);
    -fx-background-radius: 0;
}
.combo-box .list-cell {
    -fx-background-color: rgb(255, 255, 255);
    -fx-padding: 5;
    -fx-cell-size: 30px;
    -fx-text-fill: #3c4654;
}

